<template>
  <div class="form-control" :class="{ invalid: error }">
    <label :for="id">{{ label }}</label>
    <input
      @input="checkName"
      type="text"
      :id="id"
      :placeholder="placeholder"
      :value="modelValue"
    />
    <small v-if="error">{{ error }}</small>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: { type: String }, // ! передает директива v-model из родителя
    placeholder: { type: String },
    label: { type: String },
    error: { type: String },
  },

  emits: {
    "update:modelValue": (value) => typeof value === "string",
  },

  data() {
    return {
      id: "input-" + Math.random(),
    };
  },
  methods: {
    checkName(event) {
      this.$emit("update:modelValue", event.target.value);
    },
  },
};
</script>

<style>
.form-control small {
  color: #e53935;
}
.form-control.invalid input {
  border-color: #e53935;
}
</style>
