<template>
  <div class="container">
    <form class="card" @submit.prevent="submitHandler">
      <h1>Анкета на Vue разработчика!</h1>

      <app-input
        placeholder="Введи имя"
        :error="errors.name"
        label="Как тебя зовут?"
        v-model="name"
      ></app-input>
      <!-- <div class="form-control" :class="{ invalid: errors.name }">
        <label for="name">Как тебя зовут?</label>
        <input
          v-model.trim="name"
          @input="checkName"
          type="text"
          id="name"
          placeholder="Введи имя"
        />
        <small v-if="errors.name">{{ errors.name }}</small>
      </div> -->

      <div class="form-control">
        <label for="age">Выбери возраст</label>
        <input type="number" id="age" max="70" v-model.number="age" />
      </div>

      <div class="form-control">
        <label for="city">Твой город</label>
        <select id="city" v-model="city">
          <option value="spb">Санкт-Петербург</option>
          <option value="msk">Москва</option>
          <option value="kzn">Казань</option>
          <option selected value="nsk">Новосибирск</option>
        </select>
      </div>

      <div class="form-checkbox">
        <span class="label">Готов к переезду в Токио?</span>
        <div class="checkbox">
          <label>
            <input type="radio" name="trip" v-model="relocate" value="yes" /> Да
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="radio" name="trip" v-model="relocate" value="no" /> Нет
          </label>
        </div>
      </div>

      <div class="form-checkbox">
        <span class="label">Что знаешь во Vue?</span>
        <div class="checkbox">
          <label
            ><input
              type="checkbox"
              v-model="skills"
              value="vuex"
              name="skills"
            />
            Vuex
          </label>
        </div>
        <div class="checkbox">
          <label
            ><input
              type="checkbox"
              v-model="skills"
              value="vue cli"
              name="skills"
            />
            Vue CLI
          </label>
        </div>
        <div class="checkbox">
          <label
            ><input
              type="checkbox"
              v-model="skills"
              value="vue router"
              name="skills"
            />
            Vue Router
          </label>
        </div>
      </div>

      <div class="form-checkbox">
        <span class="label">Правила компании</span>
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="rules" />
            С правилами ознакомлен
          </label>
        </div>
      </div>

      <button type="submit" class="btn primary">Отправить</button>
    </form>
  </div>
</template>

<script>
import AppInput from "./components/AppInput.vue";

export default {
  components: { AppInput },
  data() {
    return {
      name: "",
      age: 23,
      city: "nsk", // ? смотрим на атрибут value nsk => Новосибирск
      relocate: "no",
      skills: [], // ? для чекбокса также нужен атрибут name
      rules: null,
      errors: {
        name: null,
      },
    };
  },
  methods: {
    formIsValid() {
      let isValid = true;

      if (this.name.length === 0) {
        isValid = false;
        this.errors.name = "Имя не может быть пустым";
      } else {
        this.errors.name = null;
        isValid = true;
      }

      return isValid;
    },
    submitHandler() {
      if (this.formIsValid()) {
        console.group("Form Data");
        console.log("Name: ", this.name);
        console.log("Age:", this.age);
        console.log("City:", this.city);
        console.log("Relocate:", this.relocate);
        console.log("Skills:", this.skills);
        console.log("Rules:", this.rules);
        console.groupEnd;
      } else {
        console.log("Form not valid:");
      }
    },
  },
  // *
  // !
  // ?
  // TODO
  //// 1231
};
</script>

<style scoped>
.form-control small {
  color: #e53935;
}
.form-control.invalid input {
  border-color: #e53935;
}
</style>
